
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    height: 100vh;
    width: 200px;
    background-color: #1C1C1C;
}
                
    nav #companylogo img {
        width: 3rem;
        height: 3rem;
    }
        